@import "../../../styles/variables.scss";

.container__card {
  display: flex;
  justify-content: center;
  .img-bg {
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100vh;
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    z-index: 100;
    width: 280px;
    height: auto;
    background-color: map-get($colors, D);
    border-radius: map-get($b-radius, 2);
    .card-header {
      align-items: center;
      .icon-card {
        height: 72px;
      }
    }
    .card-body {
      .error {
        font-size: map-get($headings, p);
        color: red;
        text-align: center;
      }
      .container___form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .form__input {
          background-color: map-get($colors, B);
          color: map-get($colors, A);
          border-color: map-get($colors, A);
          margin: 4px;
        }
      }

      .text-redirect {
        font-size: map-get($headings, p);
        color: $textcolor;
        text-align: center;
        .link-redirect {
          color: map-get($colors, $key: B);
        }
      }
    }
  }
}

.cta {
  position: relative;
  margin: auto;
  margin-top: 24px;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
}
.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: map-get($colors, B);
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: $textcolor;
}
.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: $textcolor;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: map-get($colors, C);
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}
