@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital@1&display=swap');
@function shadow($color) {
    @return 0 0 4px #fff,
    0 0 7px $color,
    0 0 13px #fff,
    0 0 38px $color,
    0 0 82px $color,
    0 0 92px $color,
    0 0 102px $color,
}

$headings: (
    h1: 3.5em,
    h2: 2.2em,
    h3: 1.4em,
    h4: 0.8em,
    p: 1.1em);
$colors: (
    A: #000000,
    B: #d61e80,
    C: #FF00FF,
    D: #1435cbb5,
    E: #FF4500,
    );
$b-radius: (
    1: 10px,
    2: 24px,
    3: 32px,   
);
$font-title: "Vermin Vibes";
$font-subtitle: 'Exo';
$font-paragraph: 'Heebo';
$textShadowEffect: 1px 1px 2px black, 0 0 2em #FF00FF, 0 0 0.4em #FF4500;
$textcolor: #e4ebee;