@import "../../../styles/variables.scss";

.modal__container {
  border-radius: map-get($b-radius, 1);
  position: relative;
  .modal__body {
    display: flex;
    background-color: map-get($colors, D);
    .body__poster {
      height: 400px;
      border-radius: map-get($b-radius, 2);
      box-shadow: 0 0 10px rgb(22, 165, 201), 0 0 21px rgb(86, 96, 172);
      margin: 12px;
    }
    .body__text {
      color: map-get($colors, A);
      .text__title {
        text-align: center;
        font-size: map-get($headings, h3);
        text-shadow: shadow(map-get($colors, D));
      }
      .box__description {
        margin-top: 2em;
        margin-left: 4em;
        background-color: map-get($colors, C);
        border-radius: map-get($b-radius, 1);
        .text__description {
          text-align: right;
          font-size: map-get($headings, h4);
          padding: 18px;
        }
      }
    }
    .container__item {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: space-between;
      justify-content: center;
      right: 20px;
      .box__item {
        align-self: flex-end;
        width: fit-content;
        .item__text {
          position: relative;
          float: right;
          margin: 8px;
          color: $textcolor;
          font-size: map-get($headings, h4);
        }
      }
    }
    .ec-stars {
      font-size: 32px;
      color: $textcolor;
      bottom: 5px;
    }
  }
}
