@import "../../../styles/variables.scss";

.modal__container {
  border-radius: map-get($b-radius, 1);
  .modal__body {
    display: flex;
    background-color: map-get($colors, A);
    .body__poster {
      border-radius: map-get($b-radius, 2);
      box-shadow: 0 0 10px rgb(22, 165, 201), 0 0 21px rgb(86, 96, 172);
      margin: 12px;
    }
    .body__text {
      color: map-get($colors, A);
      .text__tittle {
        text-align: center;
        font-size: map-get($headings, h2);

        text-shadow: shadow(map-get($colors, D));
      }
      .box__description {
        margin-top: 2em;
        margin-left: 5em;
        background-color: map-get($colors, D);

        border-radius: map-get($b-radius, 1);
        .text__description {

          text-align: right;
          font-size: map-get($headings, p);
          padding: 18px;
        }
      }
    }
    .container__item {
      display: flex;
      flex-direction: column;
      align-content: space-between;
      justify-content: center;
      .box__item {
        display: flex;
        align-content: center;
        width: auto;

        .item__text {
          color: $textcolor;
          
        }
      }
    }
  }
}
