@import "../../styles/variables.scss";

.container__bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  .bg__text {
    text-align: center;
    color: $textcolor;
    font-family: "Vermin Vibes";
    font-size: 92px;
    text-shadow: shadow(map-get($colors, B));
  }
  .container__bg--url {
    position: fixed;
    z-index: -10;
    width: 100%;
    height: 100vh;
    background: url(../../assets/svg/Bg/bgSVG.svg);
  }
}
