@import "/src/styles/variables.scss";


  .container__navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: map-get($colors, A);
    .dropdownAccount {
      .dropdownToggle {
        background-color: #000;
        .accountIcon {
          height: 45px;
          filter: invert(100%);
        }
      }
      .dropDownMenuAccount{
        background-color: map-get($colors, A);
        .dropdownItem{
          color: white;
        }
      }
    }
    .dropdownfavoriteList {
      .dropdownToggle {


        margin-right: 30px;
        background-color: #000;
        .favoriteListIcon {
          height: 45px;
          filter: invert(100%);
        }
      }
    }
  }

.dropdown-item{
  
  white-space: normal;
}
.dropdown-toggle::after{
  content: none;
}
.btn-primary{
  border: none;
}
