@import "/src/styles/variables.scss";

.cover-space {
  height: 100px;
  .container__navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: map-get($colors, A);
    .dropdownAccount {
      .dropdownToggle {
        margin-right: 30px;
        background-color: #000;
        .accountIcon {
          height: 45px;
          filter: invert(100%);
        }
      }
    }
    .dropdownfavoriteList {
      .dropdownToggle {
        margin-right: 30px;
        background-color: #000;
        .favoriteListIcon {
          height: 45px;
          filter: invert(100%);
        }
      }
    }
  }
}
.dropdown-toggle::after{
  content: none;
}
.btn-primary{
  border: none;
}
